@model DatVeXemPhim2023.Models.TPhim
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "SuaSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>SuaSanPham</h1>

<h4>TDanhMucSp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="SuaSanPham" asp-route-IdPhim="@ViewBag.IdPhim" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idphim" />
            <div class="form-group">
                <label asp-for="TenPhim" class="control-label"></label>
                <input asp-for="TenPhim" class="form-control" />
                <span asp-validation-for="TenPhim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TheLoai" class="control-label"></label>
                <input asp-for="TheLoai" class="form-control" />
                <span asp-validation-for="TheLoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DaoDien" class="control-label"></label>
                <input asp-for="DaoDien" class="form-control" />
                <span asp-validation-for="DaoDien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DienVien" class="control-label"></label>
                <input asp-for="DienVien" class="form-control" />
                <span asp-validation-for="DienVien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HinhAnh" class="control-label">Movie Image</label>
                <input asp-for="HinhAnh" type="file" class="form-control" />
                <span asp-validation-for="HinhAnh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayCongChieu" class="control-label"></label>
                <input asp-for="NgayCongChieu" class="form-control" />
                <span asp-validation-for="NgayCongChieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThoiLuong" class="control-label"></label>
                <input asp-for="ThoiLuong" class="form-control" />
                <span asp-validation-for="ThoiLuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DanhMucPhim">Quay lại danh sách phim</a>
</div>

