@model DatVeXemPhim2023.Models.TThongTinKhuyenMai
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ThemSachUuDai&KhuyenMai";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Them Moi Suat Chieu</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-area="admin" asp-controller="TinMoiVaUuDai" asp-action="SuaKhuyenMai" asp-route-IdkhuyenMai="@ViewBag.IdKhuyenMai" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenUuDaiVaKhuyenMai" class="control-label"></label>
                <input asp-for="TenUuDaiVaKhuyenMai" class="form-control" />
                <span asp-validation-for="TenUuDaiVaKhuyenMai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NdkhuyenMai1" class="control-label"></label>
                <input asp-for="NdkhuyenMai1" class="form-control" />
                <span asp-validation-for="NdkhuyenMai1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NdkhuyenMai2" class="control-label"></label>
                <input asp-for="NdkhuyenMai2" class="form-control" />
                <span asp-validation-for="NdkhuyenMai2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NdkhuyenMai3" class="control-label"></label>
                <input asp-for="NdkhuyenMai3" class="form-control" />
                <span asp-validation-for="NdkhuyenMai3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HinhAnh" class="control-label"></label>
                <input asp-for="HinhAnh" type="file" class="form-control" />
                <span asp-validation-for="HinhAnh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeBegin" class="control-label"></label>
                <input asp-for="TimeBegin" class="form-control" />
                <span asp-validation-for="TimeBegin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeEnd" class="control-label"></label>
                <input asp-for="TimeEnd" class="form-control" />
                <span asp-validation-for="TimeEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-area="admin" asp-controller="suatchieuadmin" asp-action="DanhSachSuatChieu">Quay Lại Danh Sách</a>
</div>
